/* alien-encounters */

@font-face {
    font-family: alien-encounters-Bold-Italic;
    src: url("alien_encounters/Alien-Encounters-Bold-Italic.ttf");
}

@font-face {
    font-family: alien-encounters-Bold;
    src: url("alien_encounters/Alien-Encounters-Bold.ttf");
}

@font-face {
    font-family: alien-encounters-Italic;
    src: url("alien_encounters/Alien-Encounters-Bold-Italic.ttf");
}

@font-face {
    font-family: alien-encounters-Regular;
    src: url("alien_encounters/Alien-Encounters-Regular.ttf");
}

@font-face {
    font-family: alien-encounters-Solid-Bold-Italic;
    src: url("alien_encounters/Alien-Encounters-Solid-Bold-Italic.ttf");
}

@font-face {
    font-family: alien-encounters-Solid-Bold;
    src: url("alien_encounters/Alien-Encounters-Solid-Bold.ttf");
}

@font-face {
    font-family: alien-encounters-Solid-Italic;
    src: url("alien_encounters/Alien-Encounters-Solid-Italic.ttf");
}

@font-face {
    font-family: alien-encounters-Solid-Regular;
    src: url("alien_encounters/Alien-Encounters-Solid-Regular.ttf");
}

/* kalinga */

@font-face {
    font-family: kalinga;
    src: url("kalinga.ttf");
}

/* helvetica-narrow */

@font-face {
    font-family: helvetica_narrow_47w;
    src: url("helvetica_narrow/HELR47W.ttf");
}

@font-face {
    font-family: helvetica_narrow_48w;
    src: url("helvetica_narrow/HELR48W.ttf");
}

@font-face {
    font-family: helvetica_narrow_67w;
    src: url("helvetica_narrow/HELR67W.ttf");
}

/* calibri */

@font-face {
    font-family: calibri;
    src: url("Calibri.ttf");
}
