* {
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}


/** navbar **/

.navbar {
    background-color: #413A38;
    border-color: #413A38;
    height: 8vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    /* box-shadow */
    box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -moz-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
}


/* navbar-header */

.navbar .navbar-header {
    height: inherit;
    padding: 1.5vh 0 1.2vh 5vw;
    width: 24vw;
}

.navbar-header .navbar-brand {
    padding: 0;
    position: relative;
    width: 100%;
}

.navbar-brand #icon {
    height: auto;
    position: absolute;
    top: 0;
    width: 2.25vw;
}

.navbar-brand #brand {
    color: #FFFFFF !important;
    font-family: alien-encounters-Regular;
    font-size: 3.2rem;
    line-height: 117.5%;
    position: absolute;
    top: 0;
    left: 3.25vw;
}

.navbar-brand #brand:hover {
    text-decoration: none;
}


/* navbar- collapse */

.navbar .navbar-collapse {
    height: inherit;
}

.navbar-collapse .navbar-nav {
    height: inherit;
    left: 5vw;
    margin: 0;
    position: relative;
}

.navbar-collapse .navbar-nav li {
    height: 100%;
    padding: 2.3% 0 1% 0;
    text-align: center;
    width: 9vw;
}

.navbar-collapse .navbar-nav > li > a {
    background-color: transparent !important;
    color: #FFFFFF !important;
    display: inline;
    font-family: calibri;
    font-size: 2.25rem;
    padding: 0 0 2% 0;
    position: relative;
    width: 0%;
}

.navbar-collapse .navbar-nav .menu > a::after {
    border-bottom: 3px solid #FFFFFF;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: 0%;
    /* transition */
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.navbar-collapse .navbar-nav .menu > a:hover::after {
    background-color: transparent;
    width: 100%;
}

.navbar-collapse .navbar-nav .menu > a:focus {
    background-color: transparent;
    border-bottom: 3px solid #FFFFFF;
}

.navbar-collapse .navbar-nav .dropdown-toggle span {
    margin-left: 7%;
}

.navbar-collapse .navbar-nav .dropdown-menu {
    background-color: #484545;
    width: 11vw;
    /* box-shadow */
    box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -moz-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -o-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
}

.navbar-collapse .navbar-nav .dropdown-menu li {
    height: 7vh;
    padding: 0 5% 0 5%;
    text-align: center;
    width: 100%;
}

.navbar-collapse .navbar-nav .dropdown-menu li a {
    color: #FFFFFF !important;
    border-bottom: 2.5px solid #808080;
    font-size: 1.5rem;
    height: 100%;
    line-height: 100%;
    padding: 2.5vh 0 0.5vh 0;
    width: inherit;
}

.navbar-collapse .navbar-nav .dropdown-menu li a:hover {
    background-color: #413A38;
    text-decoration: none;
    /* transition */
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.navbar-collapse .navbar-nav .dropdown-menu li:last-child a {
    border: none;
}

.navbar-collapse .navbar-nav li.divider {
    border-right: 3px solid #22A8A4;
    height: 65%;
    margin: 0.9% 0 0.9% 0;
    width: 18vw;
}

.navbar-collapse .navbar-nav li.signup,
.navbar-collapse .navbar-nav li.login {
    text-align: right;
    width: 7.5vw;
}

.navbar-collapse .navbar-nav li.signup > a,
.navbar-collapse .navbar-nav li.login > a {
    color: #413A38 !important;
    display: inline;
    font-size: 2rem;
    left: 0;
    padding: 0;
    /* text-shadow */
    text-shadow: 0px 0px 7px #FFFFFF, 0px 0px 7px rgba(255, 255, 255, 0.5);
    -moz-text-shadow: 0px 0px 7px #FFFFFF, 0px 0px 7px rgba(255, 255, 255, 0.5);
    -webkit-text-shadow: 0px 0px 7px #FFFFFF, 0px 0px 7px rgba(255, 255, 255, 0.5);
    -o-text-shadow: 0px 0px 7px #FFFFFF, 0px 0px 7px rgba(255, 255, 255, 0.5);
}

.navbar-collapse .navbar-nav li.signup > a:hover,
.navbar-collapse .navbar-nav li.login > a:hover {
    border-bottom: none;
    color: #FFFFFF !important;
    font-weight: 600;
    /* transition */
    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
}

.navbar-collapse .navbar-nav li.signup > a span,
.navbar-collapse .navbar-nav li.login > a span {
    margin-right: 7%;
    font-size: 0.6em;
}


/** home **/

#home {
    height: 100%;
    position: relative;
    width: inherit;
}

/* icons-frame */

#home #icons {
	float: left;
    height: 85vh;
    position: absolute;
    left: 10px;
    width: 20vw;
}

#home #icons::after {
	clear: both;
    content: '';
}

/* main-frame */

#home #main {
    height: 85vh;
    margin-left: 20%;
    position: relative;
    width: 70vw;
}

#home #main .main-header {
    position: absolute;
    top: 51%;
    width: inherit;
}

#home #main .main-body {
    position: absolute;
    padding-left: 7.5%;
    top: 67%;
    width: inherit;
}

#main .main-header .title {
    width: 64vw;
}

#main .main-header .title p {
    font-family: kalinga;
    font-size: 3.5em;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
}

#main .main-header .main-titleline {
    background-color: transparent;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -ms-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    bottom: -15%;
    height: 0.35em;
    position: absolute;
    width: inherit;
}

#main .main-header .main-icon {
    position: absolute;
    top: -23%;
    left: 68%;
    width: 25%;
}

#main .main-header .main-icon img {
    margin-right: 5.5%;
    width: 7vw;
}

#main .main-body .main-video {
    height: 26.5vh;
    width: 22.5vw;
}

#main .main-body .main-text {
    position: absolute;
    top: 0%;
    left: 42.5%;
}

#main .main-body .main-text p {
    font-family: helvetica_narrow_48w;
    font-size: 1.6em;
    /* hyphens */
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: justify;
}

/* lang-frame */
#home #lang {
    background: transparent;
    position: absolute;
    padding: 0;
    right: 1.5%;
    top: 1%;
    width: 6%;
    z-index: 10;
}

#lang .lang-header {
    margin: 4% 0 3% 0;
    position: relative;
    text-align: right;
    width: 105%;
}

#lang .lang-header span {
    padding: 6% 7% 0 0;
}

#lang .lang-header a {
    color: #413A38;
    display: block;
    font-style: calibri;
    font-size: 1.25em;
    position: relative;
    widows: inherit;
}

#lang .lang-header a:hover {
    cursor: pointer;
    text-decoration: none;
    /* text-shadow */
    text-shadow: 0px 0px 5px #FFFFFF, 0px 0px 7px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0px 0px 5px #FFFFFF, 0px 0px 7px rgba(0, 0, 0, 0.3);
    -webkit-text-shadow: 0px 0px 5px #FFFFFF, 0px 0px 7px rgba(0, 0, 0, 0.3);
    -o-text-shadow: 0px 0px 5px #FFFFFF, 0px 0px 7px rgba(0, 0, 0, 0.3);
    /* transition */
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

#lang .lang-body {
    background-color: transparent;
    border: 3px solid #000000;
    border-color: #413A38;
    border-radius: 0.5rem;
    display: none;
    margin-left: 20%;
    padding: 2% 0 2% 0;
    position: absolute;
    width: 85%;
}

#lang .lang-body a {
    background-color: transparent;
    border: none;
    color: #413A38;
    display: block;
    font-size: 1rem;
    padding: 0 14% 0 14%;
    position: relative;
    text-align: left;
}

/** modal **/

.modal {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal .modal-content {
    background-color: #413A38;
}

.modal .modal-header {
    background-color: transparent;
    border-bottom: 3px solid #22A8A4;
    color: #FFFFFF !important;
}

.modal .modal-header h3 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 2rem;
    line-height: 120%;
    padding-left: 2%;
}

.modal .modal-header #icon {
    background-color: #22A8A4 !important;
    color: #FFFFFF !important;
    font-size: 1.5em;
    padding: 6px 14px;
    /* border-radius */
    border-radius: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.modal .modal-header button {
    color: #FFFFFF;
}

.modal .modal-body {
    min-height: 190px;
}

.modal .modal-body a.btn {
    padding: 18px 60px;
    white-space: normal;
    /* transform */
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    /* transition-duration */
    transition: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.modal .modal-body a.btn:hover {
    /* text-shadow */
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    -o-text-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
    /* transform */
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.modal .modal-body a.btn-block {
    background-color: #22A8A4 !important;
    border: none;
    margin-top: 2.5%;
    position: relative;
    text-align: left;
    /* text-shadow */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -o-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.modal .modal-body a.btn-block:hover {
    /* box-shadow */
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);
    ;
    -webkit-box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.5);
}

.modal .modal-body a .btn-label {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.modal .modal-body a .glyphicon {
    top: 34%;
}
