html,
body {
    font-size: 100%;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/** navbar **/

.navbar {
    background-color: #413A38;
    border-color: #413A38;
    -moz-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    height: 8vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
}


/* navbar-header */

.navbar .navbar-header {
    height: 100%;
    padding-top: 1.2%;
    padding-left: 3%;
}

.navbar-header .navbar-brand {
    color: #FFFFFF !important;
    font-family: alien-encounters-Regular;
    font-size: 2.9em;
    line-height: 100%;
    padding: 0;
    vertical-align: middle;
}


/* navbar- collapse */

.navbar .navbar-collapse {
    height: inherit;
}

.navbar-collapse #nav-menu {
    height: 100%;
    left: 15.5%;
    position: relative;
}

.navbar-collapse #nav-menu li {
    font-family: calibri;
    font-size: 2.1em;
    height: 100%;
    padding-top: 4.2%;
    text-align: center;
    vertical-align: center;
    width: 8.5vw;
}

.navbar-collapse #nav-menu a {
    color: #FFFFFF !important;
    padding: 0;
}

.navbar-collapse #nav-menu .dropdown-toggle {
    padding-left: 7%;
}

.navbar-collapse #nav-menu .dropdown-toggle span {
    margin-left: 7%;
}

.navbar-collapse #nav-menu .dropdown-menu {
    background-color: #484545;
    -moz-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    -webkit-box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    box-shadow: 4px 4px 12px 4px rgba(20%, 20%, 40%, 0.5);
    font-size: 0.3em;
    text-align: center;
}

.navbar-collapse #nav-menu .dropdown-menu li {
    height: 7vh;
    width: 2vw;
}

.navbar-collapse #nav-menu .dropdown-menu a {
    color: #ffffff;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0.5%;
}

.navbar-collapse #nav-acc {
    height: 100%;
    right: 0;
    padding-top: 0.3%;
    padding-right: 1%;
    position: absolute;
}

.navbar-collapse #nav-acc li {
    font-family: calibri;
    font-size: 1.9em;
    height: 100%;
    padding-top: 7.5%;
    padding-left: 5%;
    text-align: center;
    vertical-align: center;
    width: 8vw;
}

.navbar-collapse #nav-acc #acc-bar {
    background-color: #095555;
    height: 70%;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    padding-top: 0;
    padding-left: 0;
    width: 0.15vw;
}

.navbar-collapse #nav-acc a {
    color: #413A38 !important;
    padding: 0;
    text-shadow: 0px 0px 7px #fff, 0px 0px 7px rgba(255, 255, 255, 0.5);
}

.navbar-collapse #nav-acc span {
    margin-right: 7%;
    font-size: 0.7em;
}


/** home **/

#home {
    height: 100%;
    position: relative;
    width: inherit;
}


/* lang */

#home .lang-frame {
    background: transparent;
    position: relative;
    right: 2.5%;
    text-align: right;
    top: 1%;
    z-index: 10;
}

#home .lang-frame a {
    color: #413A38;
    font-style: calibri;
    font-size: 1.25em;
}

#home .lang-frame span {
    margin-right: 0.5%;
}


/* main-frame */

#home .main-frame {
    height: 85vh;
    margin-left: 20%;
    position: relative;
    width: 70vw;
}

#home .main-frame .main-header {
    position: absolute;
    top: 51%;
    width: inherit;
}

#home .main-frame .main-body {
    position: absolute;
    padding-left: 7.5%;
    top: 67%;
    width: inherit;
}

.main-frame .main-header .title {
    width: 64vw;
}

.main-frame .main-header .title p {
    font-family: kalinga;
    font-size: 3.5em;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: center;
}

.main-frame .main-header .main-titleline {
    background-color: transparent;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -ms-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    bottom: -15%;
    height: 0.5em;
    position: absolute;
    width: inherit;
}

.main-frame .main-header .main-icon {
    position: absolute;
    left: 68%;
    top: -23%;
    width: 25%;
}

.main-frame .main-header .main-icon img {
    margin-right: 5.5%;
    width: 7vw;
}

.main-frame .main-body .main-video {
    height: 26.5vh;
    width: 22.5vw;
}

.main-frame .main-body .main-text {
    left: 42.5%;
    position: absolute;
    top: 0%;
}

.main-frame .main-body .main-text p {
    font-family: helvetica_narrow_48w;
    font-size: 1.6em;
    text-align: left;
}


/* icons-frame */

#home .icons-frame {
    height: 25vh;
    left: 10px;
    position: absolute;
    width: 50vw;
}

#home .icons-frame img {
    position: absolute;
    width: 3vw;
}

#home .icons-frame #fb-icon {
    left: 100px;
    z-index: 5;
}

#home .icons-frames #linkin-icon {
    left: 120px;
    z-index: 6;
}

#home .icons-frame #twitter-icon {
    left: 140px;
    z-index: 7;
}

#home .icons-frame #youtube-icon {
    left: 160px;
    z-index: 8;
}

#home .icons-frame img:hover {
    transform: scale(1.5, 1.5);
}


/** modal **/

.modal {
    display: none;
}

.modal .modal-header {
    background-color: #ffffff;
    border-radius: 0px;
}

.modal .modal-body {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: @screen-xs-max) {}


/** screen-sm **/

@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-image: url("bg.jpg");
        background-position: center 22.5vh;
        background-repeat: no-repeat;
        background-size: 100vh 95vw;
    }
    /* navbar-header */
    .navbar .navbar-header {
        height: 80%;
        padding-top: 1.5%;
        padding-left: 3%;
    }
    .navbar-header .navbar-brand {
        font-size: 2em;
        padding-top: 2%;
        padding-left: 2%;
    }
    /* navbar-toggle */
    .navbar-header .navbar-toggle {
        border-color: #FFFFFF !important;
        border-width: 0.17em;
        margin-top: 0;
    }
    /* navbar- collapse */
    .navbar-collapse #nav-menu {
        width: 100%;
        border: 2px solid #000000;
    }
    .navbar-collapse #nav-menu li {
        font-size: 1.45em;
        padding-top: 3.95%;
        width: 8.7vw;
    }
    .navbar-collapse #nav-menu .dropdown-menu {
        font-size: 0.5em;
    }
    .navbar-collapse #nav-menu .dropdown-menu a {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .navbar-collapse #nav-acc {
        right: 0;
        padding-right: 1.5%;
    }
    .navbar-collapse #nav-acc li {
        font-size: 1.25em;
        padding-top: 7.5%;
        width: 10.5vw;
    }
    .navbar-collapse #nav-acc #acc-bar {
        height: 65%;
        margin-top: 4%;
        margin-bottom: 4%;
        width: 0.2vw;
    }
    .navbar-collapse #nav-acc span {
        margin-right: 8.5%;
        font-size: 0.6em;
    }
    .navbat-collapse #nav-acc #acc-signup {
        padding-left: 10%;
    }
    /* lang */
    #home .lang-frame {
        right: 2.2%;
        position: absolute;
        text-align: right;
        top: 1%;
        width: 100%;
    }
    #home .lang-frame a {
        font-size: 0.8em;
    }
    /* main-frame */
    #home .main-frame {
        height: 90vh;
        margin-left: 12%;
        width: 82.5vw;
    }
    #home .main-frame .main-header {
        top: 37.5%;
    }
    #home .main-frame .main-body {
        padding-left: 0%;
        top: 49%;
    }
    .main-frame .main-header .title {
        width: 70vw;
    }
    .main-frame .main-header .title p {
        font-size: 1.9em;
        letter-spacing: 0.03em;
    }
    .main-frame .main-header .main-titleline {
        bottom: -2%;
        height: 0.23em;
    }
    .main-frame .main-header .main-icon {
        left: 80%;
        top: 6%;
        width: 19%;
    }
    .main-frame .main-header .main-icon img {
        width: 10vw;
    }
    .main-frame .main-header .main-icon img#citibank-icon {
        left: -7.5%;
        position: absolute;
        top: 8%;
    }
    .main-frame .main-body .main-video {
        height: 18vh;
        left: 27.5%;
        position: absolute;
        top: 102%;
        width: 30vw;
    }
    .main-frame .main-body .main-text {
        left: 5%;
        position: relative;
        top: 0;
        width: 70vw;
    }
    .main-frame .main-body .main-text p {
        font-size: 0.8em;
    }
}


/** screen-md **/

@media (min-width: 768px) and (max-width: 979px) {
    /** navbar **/
    .navbar {
        height: 6.3vh;
    }
    /* navbar-header */
    .navbar .navbar-header {
        height: 80%;
        padding-top: 1.3%;
        padding-left: 3%;
    }
    .navbar-header .navbar-brand {
        font-size: 2.25em;
    }
    /* navbar- collapse */
    .navbar-collapse #nav-menu {
        left: 11%;
    }
    .navbar-collapse #nav-menu li {
        font-size: 1.45em;
        padding-top: 3.95%;
        width: 8.7vw;
    }
    .navbar-collapse #nav-menu .dropdown-menu {
        font-size: 0.5em;
    }
    .navbar-collapse #nav-menu .dropdown-menu a {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .navbar-collapse #nav-acc {
        right: 0;
        padding-right: 1.5%;
    }
    .navbar-collapse #nav-acc li {
        font-size: 1.25em;
        padding-top: 7.5%;
        width: 10.5vw;
    }
    .navbar-collapse #nav-acc #acc-bar {
        height: 65%;
        margin-top: 4%;
        margin-bottom: 4%;
        width: 0.2vw;
    }
    .navbar-collapse #nav-acc span {
        margin-right: 8.5%;
        font-size: 0.6em;
    }
    .navbat-collapse #nav-acc #acc-signup {
        padding-left: 10%;
    }
    /* lang */
    #home .lang-frame {
        right: 3%;
        top: 1%;
    }
    #home .lang-frame a {
        font-size: 0.8em;
    }
    /* main-frame */
    #home .main-frame {
        height: 85vh;
        margin-left: 18%;
        width: 74vw;
    }
    #home .main-frame .main-header {
        top: 48%;
    }
    #home .main-frame .main-body {
        padding-left: 7.5%;
        top: 63%;
    }
    .main-frame .main-header .title {
        width: 60vw;
    }
    .main-frame .main-header .title p {
        font-size: 2.2em;
        letter-spacing: 0.05em;
    }
    .main-frame .main-header .main-titleline {
        bottom: -5%;
        height: 0.25em;
    }
    .main-frame .main-header .main-icon {
        left: 67%;
        top: -13%;
        width: 25%;
    }
    .main-frame .main-header .main-icon img {
        margin-right: 5.5%;
    }
    .main-frame .main-body .main-video {
        height: 22.5vh;
        width: 21.5vw;
    }
    .main-frame .main-body .main-text {
        left: 40%;
        top: 0%;
    }
    .main-frame .main-body .main-text p {
        font-size: 0.9em;
    }
}

@media (min-width: 980px) {
    /** navbar **/
    .navbar {
        height: 8.5vh;
        margin-bottom: 0;
        position: relative;
    }
    /* navbar-header */
    .navbar .navbar-header {
        padding-top: 1.1%;
        padding-left: 3%;
    }
    .navbar-header .navbar-brand {
        font-size: 2.3em;
        line-height: 100%;
        padding: 0;
    }
    /* navbar- collapse */
    .navbar-collapse #nav-menu {
        height: 100%;
        left: 15.5%;
        position: relative;
    }
    .navbar-collapse #nav-menu li {
        font-size: 1.8em;
        padding-top: 4.2%;
        width: 8.5vw;
    }
    .navbar-collapse #nav-menu .dropdown-toggle {
        padding-left: 7%;
    }
    .navbar-collapse #nav-menu .dropdown-toggle span {
        margin-left: 7%;
    }
    .navbar-collapse #nav-menu .dropdown-menu {
        font-size: 0.35em;
    }
    .navbar-collapse #nav-menu .dropdown-menu li {
        height: 7vh;
    }
    .navbar-collapse #nav-menu .dropdown-menu a {
        height: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .navbar-collapse #nav-acc {
        height: 100%;
        right: 0;
        padding-top: 0.3%;
        padding-right: 1%;
    }
    .navbar-collapse #nav-acc li {
        font-size: 1.55em;
        padding-top: 7.5%;
        width: 8vw;
    }
    .navbar-collapse #nav-acc #acc-bar {
        height: 70%;
        margin-top: 3.5%;
        margin-bottom: 3.5%;
        width: 0.15vw;
    }
    .navbar-collapse #nav-acc span {
        margin-right: 7%;
        font-size: 0.7em;
    }
    /** home **/
    #home {
        height: 100%;
        position: relative;
    }
    /* lang */
    #home .lang-frame {
        position: relative;
        right: 1.2%;
        top: 1%;
    }
    #home .lang-frame a {
        font-size: 1.1em;
    }
    #home .lang-frame span {
        margin-right: 0.5%;
    }
    /* main-frame */
    #home .main-frame {
        height: 85vh;
        margin-left: 20%;
        position: relative;
        width: 70vw;
    }
    #home .main-frame .main-header {
        position: absolute;
        top: 46%;
    }
    #home .main-frame .main-body {
        position: absolute;
        padding-left: 7.5%;
        top: 65%;
    }
    .main-frame .main-header .title {
        width: 59vw;
    }
    .main-frame .main-header .title p {
        font-size: 2.75em;
        letter-spacing: 0.03em;
    }
    .main-frame .main-header .main-titleline {
        bottom: -15%;
        height: 0.4em;
        position: absolute;
    }
    .main-frame .main-header .main-icon {
        position: absolute;
        left: 67.5%;
        top: -13%;
        width: 25%;
    }
    .main-frame .main-header .main-icon img {
        margin-right: 5.5%;
        width: 7vw;
    }
    .main-frame .main-body .main-video {
        height: 24.5vh;
        width: 20.5vw;
    }
    .main-frame .main-body .main-text {
        left: 40%;
        position: absolute;
        top: 0%;
    }
    .main-frame .main-body .main-text p {
        font-size: 1.07em;
        text-align: left;
    }
}
