<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="2017 UIDD-FinTech">
<meta name="keywords" content="FINLINK, UIDD-FinTech">
<meta name="author" content="yungshenglu">
<meta name="copyright" content="2017 NCKU-EE UIDD">

<!-- Title & Brand -->
<title> <%= title %> </title>
<link rel="icon" href="logo.png">